<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sublime project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkout_responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/contact.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/contact_responsive.css}">
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo"><a href="#">Otosklep.</a></div>
                            <nav class="main_nav">
                                <ul>
                                    <li><a th:href="@{/}">Główna</a></li>
                                    <li sec:authorize="isAuthenticated()&&hasRole('ROLE_USER')" ><a th:href="@{/cart/my}">Koszyk</a></li>
                                    <li sec:authorize="isAuthenticated()&&hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Panel Admina</a></li>
                                    <li sec:authorize="isAuthenticated()&&hasRole('ROLE_WORKER')"><a th:href="@{/worker}">Panel Pracownika</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/personalData}">Moje Dane</a></li>
                                    <li sec:authorize="isAnonymous()"><a th:href="@{login}">Zaloguj</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj</a></li>
                                </ul>
                            </nav>
                            <div class="header_extra ml-auto">
                                <div class="shopping_cart">
                                    <a th:href="@{/cart/my}">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
											<g>
												<path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
											</g>
										</svg>
                                        <div sec:authorize="isAuthenticated()">Cart <span  th:text="${orderItems.size()}">(0)</span></div>
                                        <div sec:authorize="isAnonymous()">Cart <span >(0)</span></div>
                                    </a>
                                </div>
                                <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Menu -->

    <div class="menu menu_mm trans_300">
        <div class="menu_container menu_mm">
            <div class="page_menu_content">

                <div class="page_menu_search menu_mm">
                    <form action="#">
                        <input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
                    </form>
                </div>
                <ul class="page_menu_nav menu_mm">
                    <li class="page_menu_item has-children menu_mm">
                        <a href="index.html">Home<i class="fa fa-angle-down"></i></a>
                        <ul class="page_menu_selection menu_mm">
                            <li class="page_menu_item menu_mm"><a href="categories.html">Categories<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="product.html">Product<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="cart.html">Cart<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="checkout.html">Checkout<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
                        </ul>
                    </li>
                    <li class="page_menu_item has-children menu_mm">
                        <a href="categories.html">Categories<i class="fa fa-angle-down"></i></a>
                        <ul class="page_menu_selection menu_mm">
                            <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                        </ul>
                    </li>
                    <li class="page_menu_item menu_mm"><a href="index.html">Accessories<i class="fa fa-angle-down"></i></a></li>
                    <li class="page_menu_item menu_mm"><a href="#">Offers<i class="fa fa-angle-down"></i></a></li>
                    <li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="menu_social">
            <ul>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- Home -->

    <div class="home">
        <div class="home_container">
            <div class="home_background" th:style="'background:url('+ @{/images/cart.jpg} +');'"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li>Checkout</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkout -->

    <div class="checkout">
        <div class="container">
            < class="row">
                <div>
                    <div class="col-lg-4 offset-xl-2 contact_col">
                        <div class="contact_info">
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showAddProduct()">Dodaj produkt</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showAddItem()">Dodaj przedmiot</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showAddProducer()">Dodaj producenta</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showItems()">Przedmioty</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showOrders()">Zamówienia</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showUsers()">Uzytkownicy</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showAddWorker()">Dodaj osobe</a></div>
                            <div class="button order_button" style="margin-top: 1px;"><a style="color: black;" onclick="showVotes()">Opinie</a></div>
                        </div>
                    </div>
                </div>
                <h1 th:if="${costam}">nananana</h1></br>

                <div class="col-lg-4 offset-xl-2 contact_col">
                    <div class="get_in_touch" id="product_details" style="display: none">
                        <div class="section_title">Dane Produktu:</div>
                        <div class="contact_form_container">
                            <form action="#" th:action="@{/product/add}" method="post" th:object="${product}" id="product_form" class="contact_form">
                                <div class="row">
                                    <label for="name" style="font-size: 19px;">Nazwa</label>
                                    <input th:field="*{name}" style="background-color: #9f9f9f" type="text" id="name" class="contact_input" required="required">

                                    <label for="desc" style="font-size: 19px;">Opis</label>
                                    <textarea th:field="*{desc}" style="background-color: #9f9f9f" id="desc" rows = "5" cols = "50" name = "description" required="required">Opis produktu</textarea>

                                    <label for="category" style="font-size: 19px;">ID Kategoria</label>
                                    <select th:field="*{category}" style="background-color: #9f9f9f" name="checkout_city" id="category" class="dropdown_item_select checkout_input" require="required">
                                        <option  th:each="category: ${categories}" th:value="${category.id}" th:text="${category.type}"></option>
                                    </select>
                                    <!--								    <input th:each="category:${categories}" style="background-color: #9f9f9f;height: 10px;" type="radio" id="category" name="category" th:value="${category.id}" class="contact_input" required="required">-->

                                    <label for="producer" style="font-size: 19px;">ID Producent</label>
                                    <select th:field="*{producer}" style="background-color: #9f9f9f" name="checkout_city" id="producer" class="dropdown_item_select checkout_input" require="required">
                                        <option th:each="producer: ${producers}" th:value="${producer.id}" th:text="${producer.name}"></option>
                                    </select>

                                </div>
                            </form>
                        </div>
                        <!--						<div class="button order_button"><a th:href="@{/user/edit}">Dodaj produkt</a></div>-->
                        <button class="button contact_button" type="submit" form="product_form" value="Submit"><span>Dodaj Produkt</span></button>
                    </div>
                    <!--					Item-->

                    <div class="get_in_touch" id="item_details" style="display: none;" >
                        <div class="section_title">Dane Przedmiotu:</div>
                        <div class="contact_form_container">
                            <form action="#" th:action="@{/item/add}" enctype="multipart/form-data" method="post" th:object="${item}" id="item_form" class="contact_form">
                                <div class="row">
                                    <label for="product" style="font-size: 19px;">ID Produktu</label>
                                    <select th:field="*{product}" style="background-color: #9f9f9f" name="checkout_city" id="product" class="dropdown_item_select checkout_input" require="required">
                                        <option th:each="product: ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                                    </select>

                                    <label for="item_desc" style="font-size: 19px;">Opis</label>
                                    <textarea th:field="*{desc}" style="background-color: #9f9f9f" id="item_desc" rows = "5" cols = "50" name = "description" required="required">Opis przedmiotu</textarea>

                                    <label for="price" style="font-size: 19px;">Cena</label>
                                    <input th:field="*{price}" style="background-color: #9f9f9f" type="number" id="price" class="contact_input" required="required">

                                    <!--								    <input th:each="category:${categories}" style="background-color: #9f9f9f;height: 10px;" type="radio" id="category" name="category" th:value="${category.id}" class="contact_input" required="required">-->

                                    <label for="version" style="font-size: 19px;">Wersja opis</label>
                                    <input th:field="*{version}" style="background-color: #9f9f9f" type="text" id="version" class="contact_input" required="required">

                                    <label for="quantity" style="font-size: 19px;">Ilosc</label>
                                    <input th:field="*{quantity}" style="background-color: #9f9f9f" type="number" id="quantity" class="contact_input" required="required">


                                    <label for="file" class="custom-file-label" style="font-size: 19px;">Wybierz zdjecie</label>
                                    <input  style="background-color: #9f9f9f; color: #bd4147;" type="file" id="file" class="" name="file" required="required">

                                    <label class="custom-file-label" for="file1">Wybierz zdjecie</label>
                                    <input style="background-color: #9f9f9f ;color: #bd4147;"  type="file" class="" id="file1"  name="file">


                                    <label class="custom-file-label" for="file2">Wybierz zdjecie</label>
                                    <input style="background-color: #9f9f9f;color: #bd4147;" type="file" class="" id="file2"  name="file">


                                    <label class="custom-file-label" for="file3">Wybierz zdjecie</label>
                                    <input style="background-color: #9f9f9f;color: #bd4147;" type="file" class="" id="file3"  name="file">


                                    <!--									<label for="file" style="font-size: 19px;">Zdjecie</label>-->
                                    <!--									<input  style="background-color: #9f9f9f" type="file" id="file3"  name="file">-->

                                </div>
                            </form>
                        </div>
                        <!--						<div class="button order_button"><a th:href="@{/user/edit}">Dodaj produkt</a></div>-->
                        <button class="button contact_button" type="submit" form="item_form" value="Submit"><span>Dodaj Produkt</span></button>
                    </div>

                    <!--					Producer-->

                    <div class="get_in_touch" id="producer_details" style="display: none;">
                        <div class="section_title">Dane Producenta:</div>
                        <div class="contact_form_container">
                            <form action="#" th:action="@{/producer/add}" method="post" th:object="${producer}" id="producer_form" class="contact_form">
                                <div class="row">
                                    <p th:errors="*{name}"></p>
                                    <label for="producer_name" style="font-size: 19px;">Nazwa</label>
                                    <input th:field="*{name}" style="background-color: #9f9f9f" type="text" id="producer_name" class="contact_input" required="required">

                                </div>
                            </form>
                        </div>
                        <!--						<div class="button order_button"><a th:href="@{/user/edit}">Dodaj produkt</a></div>-->
                        <button class="button contact_button" type="submit" form="producer_form" value="Submit"><span>Dodaj Producenta</span></button>
                    </div>

                    <!--					ITEMS-->
                    <!--					<div class = "col-12 p-0">-->
                    <!--						<div class = "jumbotron min-vh-100 text-center d-flex flex-column">-->
                    <h1 th:if="${items.size()==0}">Brak przedmiotow w bazie danych</h1>
                    <table class="table table-hover table-striped sortable" id="items" th:if="${items.size()>0}" style="display: none;" >
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" th:text="'Id'"></th>
                            <th scope="col" th:text="'Opis'"></th>
                            <th scope="col" th:text="'Cena'"></th>
                            <th scope="col" th:text="'ilosc'"></th>
                            <th scope="col" th:text="'Wersja'"></th>
                            <th scope="col" th:text="'Kategoria'"></th>
                            <th scope="col" th:text="'Nazwa'"></th>
                            <th scope="col" th:text="'Edycja'"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item : ${items}">
                            <tr th:id="${item.id}" style="font-size:20px;">
                                <td th:text="${item.id}" style="text-align: center;"></td>
                                <td th:text="${item.desc}" style="text-align: center;"></td>
                                <td th:text="${item.price}"></td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.version}"></td>
                                <td th:text="${item.product.category.type}"></td>
                                <td th:text="${item.product.name}"></td>
                                <td><div class="button order_button" style="width:100%;height:70%; margin:auto"><a th:href="@{/item/delete/{id}(id=${item.id})}">Usuń</a></div>
                                    <div class="button order_button" style="width:100%;height:70%; margin:auto"><a th:href="@{/item/edit/{id}(id=${item.id})}">Edytuj</a></div></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <!--<div class="button order_button"><a th:href="@{/user/edit}">Zmien</a></div>-->
                    <!--						</div>-->
                    <!--					</div>-->


                    <h1 th:if="${orders.size()==0}">Brak zamowien w bazie danych</h1>
                    <table class="table table-hover table-striped sortable" id="orders" th:if="${orders.size()>0}" style="display: none">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" th:text="'Id'"></th>
                            <th scope="col" th:text="'Cena'"></th>
                            <th scope="col" th:text="'Data zamowienia'"></th>
                            <th scope="col" th:text="'Status'"></th>
                            <th scope="col" th:text="'Uzytkownik'"></th>
                            <th scope="col" th:text="'Przedmioty'"></th>
                            <th scope="col" th:text="'Edycja'"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="order : ${orders}">
                            <tr th:id="${order.id}" style="font-size:20px;">
                                <td th:text="${order.id}" style="text-align: center;" id="id_order" ></td>
                                <td th:text="${order.price}" style="text-align: center;"></td>
                                <td th:text="${order.orderDate}" style="text-align: center;"></td>
                                <td th:text="${order.orderStatus}"></td>
                                <td th:text="${order.user.login}"></td>
                                <td> <span th:each="c : ${order.orderItems.toArray()}" th:text="${c.getItem().product.name}" style="display: list-item;"></span></td>
                                <td><select style="background-color: #9f9f9f;width: auto;" name="checkout_city" th:id="${order.id}+'id'" class="dropdown_item_select checkout_input" require="required" th:onchange="'javascript:changeStatus(' + ${order.id} + ');'">
                                    <option th:each="status: ${orderStatuses}"  th:selected="${order.orderStatus}==${status.getStatus()}" th:value="${status.getStatus()}" th:text="${status.getStatus()}"></option>
                                </select></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <div class="get_in_touch" id="worker_details" style="display: none">
                        <div class="section_title">Dane Pracownika:</div>
                        <div class="contact_form_container">
                            <form action="#" th:action="@{/admin/add}" method="post" th:object="${user}" id="worker_form" class="contact_form">
                                <div class="row">
                                    <label for="role" style="font-size: 19px;">Rola</label>
                                    <select  style="background-color: #9f9f9f" name="role" id="role" class="dropdown_item_select checkout_input" require="required">
                                        <option th:each="role: ${roles}" th:value="${role.role}" th:text="${role.role}"></option>
                                    </select>


                                    <label for="login" style="font-size: 19px;">Login</label>
                                    <input th:field="*{login}" style="background-color: #9f9f9f" type="text" id="login" class="contact_input" required="required">

                                    <p th:errors="*{firstName}"></p>
                                    <label for="firstname" style="font-size: 19px;">Imie</label>
                                    <input th:field="*{firstName}" style="background-color: #9f9f9f" type="text" id="firstname" class="contact_input" required="required">

                                    <label for="lastname" style="font-size: 19px;">Nazwisko</label>
                                    <input th:field="*{lastName}" style="background-color: #9f9f9f" type="text" id="lastname" class="contact_input" required="required">

                                    <label for="password" style="font-size: 19px;">Haslo</label>
                                    <input th:field="*{password}" style="background-color: #9f9f9f" type="password" id="password" class="contact_input" required="required">

                                    <label for="email" style="font-size: 19px;">Email</label>
                                    <input th:field="*{email}" style="background-color: #9f9f9f" type="email" id="email" class="contact_input" required="required">

                                    <p th:errors="*{adress.country}"></p>
                                    <label for="country" style="font-size: 19px;">Kraj</label>
                                    <input th:field="*{adress.country}" style="background-color: #9f9f9f" type="text" id="country" class="contact_input" required="required">
                                    <p th:errors="*{adress.city}"></p>
                                    <label for="city" style="font-size: 19px;">Miasto</label>
                                    <input th:field="*{adress.city}" style="background-color: #9f9f9f" type="text" id="city" class="contact_input" required="required">

                                    <p th:errors="*{adress.street}"></p>
                                    <label for="street" style="font-size: 19px;">Ulica</label>
                                    <input th:field="*{adress.street}" style="background-color: #9f9f9f" type="text" id="street" class="contact_input" required="required">

                                    <p th:errors="*{adress.postCode}"></p>
                                    <label for="postcode" style="font-size: 19px;">Kod Pocztowy</label>
                                    <input th:field="*{adress.postCode}" style="background-color: #9f9f9f" type="text" id="postcode" class="contact_input" required="required">

                                    <!--								    <input th:each="category:${categories}" style="background-color: #9f9f9f;height: 10px;" type="radio" id="category" name="category" th:value="${category.id}" class="contact_input" required="required">-->


                                </div>
                            </form>
                        </div>
                        <!--						<div class="button order_button"><a th:href="@{/user/edit}">Dodaj produkt</a></div>-->
                        <button class="button contact_button" type="submit" form="worker_form" value="Submit"><span>Dodaj Pracownika</span></button>
                    </div>
                    <div class = "table-responsive" style="width: 800px;display: none" id="users">
                    <h1 th:if="${users.size()==0}">Brak zamowien w bazie danych</h1>
                    <table class="table table-hover table-striped sortable"  th:if="${users.size()>0}">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" th:text="'Id'"></th>
                            <th scope="col" th:text="'Imie'"></th>
                            <th scope="col" th:text="'Nazwisko'"></th>
                            <th scope="col" th:text="'Login'"></th>
                            <th scope="col" th:text="'Email'"></th>
                            <th scope="col" th:text="'Kraj'"></th>
                            <th scope="col" th:text="'Miasto'"></th>
                            <th scope="col" th:text="'Ulica'"></th>
                            <th scope="col" th:text="'Kod pocztowy'"></th>
                            <th scope="col" th:text="'Edycja'"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="user: ${users}">
                            <tr th:id="${user.id}" style="font-size:20px;">
                                <td th:text="${user.id}" style="text-align: center;" id="id_user" ></td>
                                <td th:text="${user.firstName}" style="text-align: center;"></td>
                                <td th:text="${user.lastName}" style="text-align: center;"></td>
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.adress.country}"></td>
                                <td th:text="${user.adress.city}"></td>
                                <td th:text="${user.adress.street}"></td>
                                <td th:text="${user.adress.postCode}"></td>
                                <td style="display: flex;"><div class="button order_button" style="width:100%;height:70%; margin:auto"><a th:href="@{/admin/delete/{id}(id=${user.id})}">Usuń</a></div>
                                    <div class="button order_button" style="width:100%;height:70%; margin:auto"><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edytuj</a></div></td>
<!--                                <td> <span th:each="c : ${order.orderItems.toArray()}" th:text="${c.getItem().product.name}" style="display: list-item;"></span></td>-->
<!--                                <td><select style="background-color: #9f9f9f;width: auto;" name="checkout_city" th:id="${order.id}+'id'" class="dropdown_item_select checkout_input" require="required" th:onchange="'javascript:changeStatus(' + ${order.id} + ');'">-->
<!--                                    <option th:each="status: ${orderStatuses}"  th:selected="${order.orderStatus}==${status.getStatus()}" th:value="${status.getStatus()}" th:text="${status.getStatus()}"></option>-->
<!--                                </select></td>-->
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    </div>

                    <div class = "table-responsive" style="width: 800px;display: none" id="votes">
                        <h1 th:if="${votes.size()==0}">Brak komentarzy w bazie danych</h1>
                        <table class="table table-hover table-striped sortable" th:if="${votes.size()>0}">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" th:text="'Id'"></th>
                                <th scope="col" th:text="'Login'"></th>
                                <th scope="col" th:text="'Przedmiot'"></th>
                                <th scope="col" th:text="'Ocena'"></th>
                                <th scope="col" th:text="'Komentarz'"></th>
                                <th scope="col" th:text="'Data'"></th>
                                <th scope="col" th:text="'Edycja'"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="vote: ${votes}">
                                <tr th:id="${vote.id}" style="font-size:20px;">
                                    <td th:text="${vote.id}" style="text-align: center;" id="id_vote" ></td>
                                    <td th:text="${vote.user.login}" style="text-align: center;"></td>
                                    <td th:text="${vote.item.product.name}" style="text-align: center;"></td>
                                    <td th:text="${vote.score}"></td>
                                    <td th:text="${vote.comment}"></td>
                                    <td th:text="${vote.date}"></td>
                                    <td style="display: flex;"><div class="button order_button" style="width:100%;height:70%; margin:auto" th:onclick="'javascript:deleteVote(' + ${vote.id} + ');'"><a>Usuń</a></div>
                                        <div class="button order_button" style="width:100%;height:70%; margin:auto"><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edytuj</a></div></td>
                                    <!--                                <td> <span th:each="c : ${order.orderItems.toArray()}" th:text="${c.getItem().product.name}" style="display: list-item;"></span></td>-->
                                    <!--                                <td><select style="background-color: #9f9f9f;width: auto;" name="checkout_city" th:id="${order.id}+'id'" class="dropdown_item_select checkout_input" require="required" th:onchange="'javascript:changeStatus(' + ${order.id} + ');'">-->
                                    <!--                                    <option th:each="status: ${orderStatuses}"  th:selected="${order.orderStatus}==${status.getStatus()}" th:value="${status.getStatus()}" th:text="${status.getStatus()}"></option>-->
                                    <!--                                </select></td>-->
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/popper.js}"></script>
<script th:src="@{/css/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/checkout.js}"></script>
</body>
</html>