<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Cart</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sublime project">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/cart_responsive.css}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="#">Otosklep.</a></div>
							<nav class="main_nav">
								<ul>
									<li><a th:href="@{/}">Główna</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_USER')" ><a th:href="@{/cart/my}">Koszyk</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Panel Admina</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_WORKER')"><a th:href="@{/worker}">Panel Pracownika</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/user/personalData}">Moje Dane</a></li>
									<li sec:authorize="isAnonymous()"><a th:href="@{login}">Zaloguj</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								<div class="shopping_cart">
									<a th:href="@{/cart/my}">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
											<g>
												<path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
											</g>
										</svg>
										<div sec:authorize="isAuthenticated()">Cart <span  th:text="${orderItems.size()}">(0)</span></div>
										<div sec:authorize="isAnonymous()">Cart <span >(0)</span></div>
									</a>
								</div>
								<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu menu_mm trans_300">
		<div class="menu_container menu_mm">
			<div class="page_menu_content">
							
				<div class="page_menu_search menu_mm">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav menu_mm">
					<li class="page_menu_item has-children menu_mm">
						<a href="index.html">Home<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection menu_mm">
							<li class="page_menu_item menu_mm"><a href="categories.html">Categories<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="product.html">Product<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="cart.html">Cart<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="checkout.html">Checkout<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item has-children menu_mm">
						<a href="categories.html">Categories<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection menu_mm">
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item menu_mm"><a href="index.html">Accessories<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="#">Offers<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

<!--		<div class="menu_social">-->
<!--			<ul>-->
<!--				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
<!--				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
<!--				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--			</ul>-->
<!--		</div>-->
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" th:style="'background:url('+ @{/images/cart.jpg} +');'"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="categories.html">Kategorie</a></li>
										<li>Koszyk</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Cart Info -->

	<div class="cart_info">
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- Column Titles -->
					<div class="cart_info_columns clearfix">
						<div class="cart_info_col cart_info_col_product">Produkt</div>
						<div class="cart_info_col cart_info_col_price">Cena</div>
						<div class="cart_info_col cart_info_col_quantity">Ilość</div>
						<div class="cart_info_col cart_info_col_total">Całość</div>
					</div>
				</div>
			</div>
			<div class="row cart_items_row">
				<div class="col" >

					<!-- Cart Item -->
					<div th:if="${orderItems.size()==0}"><h1>Brak produktow</h1></div>
					<div th:each="item : ${orderItems}" class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<!-- Name -->
						<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
							<div class="cart_item_image">
								<div><img th:src="@{${item.item.getFirstPhoto()}}" alt=""></div>
							</div>
							<div class="cart_item_name_container">
								<div class="cart_item_name"><a th:href="@{'/item/'+${item.item.id}}"> <span th:text="${item.item.product.name}"></span></a></div>
<!--								<div class="cart_item_edit"><a href="#">Edit Product</a></div>-->
							</div>
						</div>
						<!-- Price -->
						<div class="cart_item_price" th:text="${item.item.price}+'zl'">$790.90</div>
						<!-- Quantity -->
						<div class="cart_item_quantity">
							<div class="product_quantity_container">
								<div class="product_quantity clearfix">
									 <span th:text="'Ilosc: '+${item.itemQuantity}"></span>
									<div class="quantity_buttons">
<!--									 <button class="button" >Usuń</button>-->
										<div id="quantity_inc_button" class="quantity_inc quantity_control">
											<a th:href="@{/cart/delete/{item_id}(item_id=${item.id})}">Usun</a></div>
									</div>
<!--									<input id="quantity_input" type="text" id th:text="${item.itemQuantity}">-->
<!--									<input id="quantity_input" type="text" pattern="[0-9]*" value="1">-->
<!--									<div class="quantity_buttons">-->
<!--										<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>-->
<!--										<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>-->
<!--									</div>-->
								</div>
							</div>
						</div>
						<!-- Total -->
						<div class="cart_item_total" th:text="${item.itemQuantity*item.item.price}+'zl'"><span>zl</span>$790.90</div>
					</div>

				</div>
			</div>
			<div class="row row_cart_buttons">
				<div class="col">
					<div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="button continue_shopping_button"><a th:href="@{/}">Zamawiam dalej</a></div>
						<div class="cart_buttons_right ml-lg-auto">
							<div class="button clear_cart_button"><a th:href="@{/cart/delete/all}">Wyczyść koszyk</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row_extra">
<!--				<div class="col-lg-4">-->
					
					<!-- Delivery -->
<!--					<div class="delivery">-->
<!--						<div class="section_title">Shipping method</div>-->
<!--						<div class="section_subtitle">Select the one you want</div>-->
<!--						<div class="delivery_options">-->
<!--							<label class="delivery_option clearfix">Next day delivery-->
<!--								<input type="radio" name="radio">-->
<!--								<span class="checkmark"></span>-->
<!--								<span class="delivery_price">$4.99</span>-->
<!--							</label>-->
<!--							<label class="delivery_option clearfix">Standard delivery-->
<!--								<input type="radio" name="radio">-->
<!--								<span class="checkmark"></span>-->
<!--								<span class="delivery_price">$1.99</span>-->
<!--							</label>-->
<!--							<label class="delivery_option clearfix">Personal pickup-->
<!--								<input type="radio" checked="checked" name="radio">-->
<!--								<span class="checkmark"></span>-->
<!--								<span class="delivery_price">Free</span>-->
<!--							</label>-->
<!--						</div>-->
<!--					</div>-->

					<!-- Coupon Code -->
<!--					<div class="coupon">-->
<!--						<div class="section_title">Coupon code</div>-->
<!--						<div class="section_subtitle">Enter your coupon code</div>-->
<!--						<div class="coupon_form_container">-->
<!--							<form action="#" id="coupon_form" class="coupon_form">-->
<!--								<input type="text" class="coupon_input" required="required">-->
<!--								<button class="button coupon_button"><span>Apply</span></button>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

				<div class="col-lg-6 offset-lg-2">
					<div class="cart_total">
						<div class="section_title">Koszyk</div>
						<div class="section_subtitle">Informacje o zamówieniu</div>
						<div class="cart_total_container" th:if="${orderItems.size()==0}"><h1>Brak prduktow w koszyku</h1></div>
						<div class="cart_total_container" th:if="${user.adress==null}"><h1>Aby dokończyć zamowienie musisz podac adres</h1></div>
						<div class="cart_total_container" th:if="${orderItems.size()>0}">
							<ul>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Dostawa</div>
									<div class="cart_total_value ml-auto" >Zawsze Darmowa</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Do zaplaty</div>
									<div class="cart_total_value ml-auto" th:text="${totalPrice}+'zl'">Free</div>
								</li>
							</ul>
						</div>
						<div class="button checkout_button" th:if="${orderItems.size()>0 && user.getAdress()!=null}"><a th:href="@{/order/add}">Zatwierdz zamówienie</a></div>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<!-- Footer -->

	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_background" th:style="'background:url('+ @{/images/footer.jpg} +');'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="footer_logo"><a href="#">Otosklep.</a></div>
						<div class="copyright ml-auto mr-auto">&copy; Marcin Ruszkiewicz</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/popper.js}"></script>
<script th:src="@{/css/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>