<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Checkout</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Sublime project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/checkout_responsive.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contact.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contact_responsive.css}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="#">Otosklep.</a></div>
							<nav class="main_nav">
								<ul>
									<li><a th:href="@{/}">Główna</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_USER')" ><a th:href="@{/cart/my}">Koszyk</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Panel Admina</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_WORKER')"><a th:href="@{/worker}">Panel Pracownika</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/user/personalData}">Moje Dane</a></li>
									<li sec:authorize="isAnonymous()"><a th:href="@{login}">Zaloguj</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								<div class="shopping_cart">
									<a th:href="@{/cart/my}">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
											<g>
												<path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
											</g>
										</svg>
										<div sec:authorize="isAuthenticated()">Cart <span  th:text="${orderItems.size()}">(0)</span></div>
										<div sec:authorize="isAnonymous()">Cart <span >(0)</span></div>
									</a>
								</div>
								<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu menu_mm trans_300">
		<div class="menu_container menu_mm">
			<div class="page_menu_content">

				<div class="page_menu_search menu_mm">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav menu_mm">
					<li class="page_menu_item has-children menu_mm">
						<a href="index.html">Home<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection menu_mm">
							<li class="page_menu_item menu_mm"><a href="categories.html">Categories<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="product.html">Product<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="cart.html">Cart<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="checkout.html">Checkout<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item has-children menu_mm">
						<a href="categories.html">Categories<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection menu_mm">
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item menu_mm"><a href="index.html">Accessories<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="#">Offers<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

		<div class="menu_social">
			<ul>
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" th:style="'background:url('+ @{/images/cart.jpg} +');'"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="cart.html">Shopping Cart</a></li>
										<li>Checkout</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Checkout -->

	<div class="checkout">
		<div class="container">
			<div class="row">

				<!-- Billing Info -->

				<div class="col-lg-6" th:if="${adress.id == null}">
					<div class="billing checkout_section">
						<div class="section_title">Adres</div>
						<div class="section_subtitle">Podaj swoj adres</div>
						<div class="checkout_form_container">
							<form action="#" th:action="@{/adress}" th:object="${adress}" method="post" id="checkout_form" class="checkout_form">
								<div>
									<label for="city">Miasto</label>
									<input style="background-color: #4e555b;" th:field="*{city}" type="text" id="city" class="checkout_input">
								</div>
								<div>
									<label for="street">Ulica</label>
									<input style="background-color: #4e555b;" th:field="*{street}" type="text" id="street" class="checkout_input">
								</div>
								<div>
									<label for="postCode">Kod Pocztowy</label>
									<input style="background-color: #4e555b;" th:field="*{postCode}" type="text" id="postCode" class="checkout_input">
								</div>
								<div>
									<label for="country">Kraj</label>
									<input style="background-color: #4e555b;" th:field="*{country}" type="text" id="country" class="checkout_input">
								</div>
							</form>
						</div>
					</div>
					<button class="button contact_button" type="submit" form="checkout_form" value="Submit"><span>Dodaj adres</span></button>
				</div>

				<div th:if="${adress.id!=null}">
					<div class="col-lg-4 offset-xl-2 contact_col">
						<div class="contact_info">
							<div class="contact_info_section">
								<div class="contact_info_title" style="font-size:40px">Dane adresowe:</div>
								<ul>
									<li>Miasto: <span th:text="${adress.city}"></span></li>
									<li>Ulica: <span th:text="${adress.street}"></span></li>
									<li>Kod pocztowy: <span th:text="${adress.postCode}"></span></li>
									<li>Kraj: <span th:text="${adress.country}"></span></li>
								</ul>
							</div>
							<div class="button order_button"><a th:href="@{/adress/edit}">Zmien moje dane</a></div>
						</div>
					</div>
				</div>

				<br/>
				<div class="col-lg-4 offset-xl-2 contact_col">
					<div class="contact_info" >
						<div class="contact_info_section">
							<div class="contact_info_title" style="font-size:40px">Twoje dane:</div>
							<ul>
								<li>Imie: <span th:text="${user.firstName}"></span></li>
								<li>Naziwsko: <span th:text="${user.lastName}"></span></li>
								<li>Email: <span th:text="${user.email}"></span></li>
								<li>Login: <span th:text="${user.login}"></span></li>
							</ul>
						</div>
						<div class="button order_button"><a th:href="@{/user/edit}">Zmien moje dane</a></div>
					</div>
				</div>
				<div class = "col-12 p-0"  sec:authorize="hasRole('ROLE_USER')">
					<div class = "jumbotron min-vh-100 text-center d-flex flex-column">
						<table class="table table-hover table-striped sortable" id="orders">
							<thead class="thead-dark">
							<tr>
								<th scope="col" th:text="'Id'"></th>
<!--								<th scope="col" th:text="'Ilość przedmiotów zamówienia'"></th>-->
								<th scope="col" th:text="'Data zamówienia'"></th>
								<th scope="col" th:text="'Status'"></th>
								<th scope="col" th:text="'Do zaplaty'"></th>
								<th scope="col" th:text="'test'"></th>
							</tr>
							</thead>
							<tbody>
							<th:block th:each="order : ${orders}">
								<tr th:id="${order.id}" style="font-size:20px;">
									<td th:text="${order.id}" style="text-align: center;"></td>
<!--									<td th:text="${order.}" style="text-align: center;"></td>-->
									<td th:text="${order.orderDate}"></td>
									<td th:text="${order.orderStatus}"></td>
									<td th:text="${order.price}+'zl'"></td>
									<td><div class="button order_button" style="width:70%;height:70%; margin:auto"><a th:href="@{/order/{id}(id=${order.id})}">Szczegoly</a></div></td>
								</tr>
							</th:block>
							</tbody>
						</table>
						<!--<div class="button order_button"><a th:href="@{/user/edit}">Zmien</a></div>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->


	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_background" th:style="'background:url('+ @{/images/footer.jpg} +');'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="footer_logo"><a href="#">Otosklep.</a></div>
						<div class="copyright ml-auto mr-auto">&copy; Marcin Ruszkiewicz</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/popper.js}"></script>
<script th:src="@{/css/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/checkout.js}"></script>
</body>
</html>