<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sublime project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/css/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/contact_responsive.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/checkout_responsive.css}">
</head>
<body>

<div class="super_container">

	<!-- Header -->
	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="#">Otosklep.</a></div>
							<nav class="main_nav">
								<ul>
									<li><a th:href="@{/}">Główna</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_USER')" ><a th:href="@{/cart/my}">Koszyk</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Panel Admina</a></li>
									<li sec:authorize="isAuthenticated()&&hasRole('ROLE_WORKER')"><a th:href="@{/worker}">Panel Pracownika</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/user/personalData}">Moje Dane</a></li>
									<li sec:authorize="isAnonymous()"><a th:href="@{login}">Zaloguj</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								<div class="shopping_cart">
									<a th:href="@{/cart/my}">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
											<g>
												<path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
											</g>
										</svg>
										<div sec:authorize="isAuthenticated()">Cart <span  th:text="${orderItems.size()}">(0)</span></div>
										<div sec:authorize="isAnonymous()">Cart <span >(0)</span></div>
									</a>
								</div>
								<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu menu_mm trans_300">
		<div class="menu_container menu_mm">
			<div class="page_menu_content">
							
				<div class="page_menu_search menu_mm">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav menu_mm">
					<li class="page_menu_item has-children menu_mm">
						<a href="index.html">Home<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection menu_mm">
							<li class="page_menu_item menu_mm"><a href="categories.html">Categories<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="product.html">Product<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="cart.html">Cart<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="checkout.html">Checkout<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item has-children menu_mm">
						<a href="categories.html">Categories<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection menu_mm">
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item menu_mm"><a href="index.html">Accessories<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="#">Offers<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

		<div class="menu_social">
			<ul>
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" th:style="'background:url('+ @{/images/contact.jpg} +');'"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li>Contact</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->
	
	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Get in touch -->
				<div class="col-lg-8 contact_col">
					<div class="get_in_touch">
						<div class="section_title">Zmien swoje dane</div>
						<div class="section_subtitle">Podaj swoje dane</div>
						<div class="contact_form_container" th:if="${adress!=null}">
							<form action="#" th:action="@{/adress/edit/{id}(id=${adress.id})}" method="post" th:object="${adress}" id="contact_form" class="contact_form">
								<div class="row">
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{city}">Street errors</p>
										<label for="city">Miasto</label>
										<input th:field="*{city}" style="background-color: #9f9f9f" th:text="*{city}" type="text" id="city" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{street}">Street errors</p>
										<label for="street"></label>
										<input th:field="*{street}" style="background-color: #9f9f9f" th:text="*{street}" type="text" id="street" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{postCode}">Street errors</p>
										<label for="postCode">Kod pocztowy</label>
										<input th:field="*{postCode}" style="background-color:#9f9f9f" th:text="*{postCode}" type="text" id="postCode" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{country}">Street errors</p>
										<label for="country">Kraj</label>
										<input th:field="*{country}" style="background-color: #9f9f9f" th:text="*{country}" type="text" id="country" class="contact_input" required="required">
									</div>
								</div>
<!--								<input  class="button contact_button" type="submit" value="Sdss">-->

							</form>
							<button class="button contact_button" type="submit" form="contact_form" value="Submit"><span>Edytuj dane</span></button>
						</div>
                        <div class="contact_form_container" th:if="${user!=null}">
							<h1 th:if="${userError==true}">Źle wprowadzone dane użytkownika</h1></br>
                            <form action="#" th:action="@{/user/edit/{id}(id=${user.id})}" method="post" th:object="${user}" id="contact_for" class="contact_form">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!-- Name -->
                                        <label th:field="*{login}">ID</label>
                                        <div class="section_title" th:field="*{login}" th:text="*{login}"></div>
<!--                                        <input th:field="*{login}" style="background-color: #9f9f9f" th:text="*{login}" type="text" id="login" class="contact_input" required="required">-->
                                    </div>
                                    <div class="col-xl-6">
                                        <!-- Name -->
                                        <p th:errors="*{firstName}">Imie</p>
                                        <label for="firstName"></label>
                                        <input th:field="*{firstName}" style="background-color: #9f9f9f" th:text="*{firstName}" type="text" id="firstName" class="contact_input" required="required">
                                    </div>
                                    <div class="col-xl-6">
                                        <!-- Name -->
										<p th:errors="*{lastName}">Imie</p>
                                        <label for="lastName">Nazwisko</label>
                                        <input th:field="*{lastName}" style="background-color:#9f9f9f" th:text="*{lastName}" type="text" id="lastName" class="contact_input" required="required">
                                    </div>
                                    <div class="col-xl-6">
                                        <!-- Name -->
                                        <label for="email">Email</label>
                                        <input th:field="*{email}" style="background-color: #9f9f9f" th:text="*{email}" type="text" id="email" class="contact_input" required="required">
                                    </div>
                                </div>
                                <!--								<input  class="button contact_button" type="submit" value="Sdss">-->

                            </form>
                            <button class="button contact_button" type="submit" form="contact_for" value="Submit"><span>Edytuj dane</span></button>
                        </div>
						<div class="contact_form_container" th:if="${item!=null}">
							<form action="#" th:action="@{/item/edit/{id}(id=${item.id})}" method="post" th:object="${item}" id="item_form" class="contact_form">
								<div class="row">
									<div class="col-xl-6">
										<!-- Name -->
										<label th:field="*{id}">Login</label>
										<div class="section_title" th:field="*{id}" th:text="*{id}"></div>
										<!--                                        <input th:field="*{login}" style="background-color: #9f9f9f" th:text="*{login}" type="text" id="login" class="contact_input" required="required">-->
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{desc}"></p>
										<label for="desc">Opis</label>
										<input th:field="*{desc}" style="background-color: #9f9f9f" th:text="*{desc}" type="text" id="desc" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="price">Cena</label>
										<input th:field="*{price}" style="background-color:#9f9f9f" th:text="*{price}" type="number" id="price" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="quantity">Ilosc</label>
										<input th:field="*{quantity}" style="background-color: #9f9f9f" th:text="*{quantity}" type="number" id="quantity" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="version">Wersja</label>
										<input th:field="*{version}" style="background-color: #9f9f9f" th:text="*{version}" type="text" id="version" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="version">Zdjecia</label>
                                        <br/>
<!--										<input th:field="*{version}" style="background-color: #9f9f9f" th:text="*{version}" type="text" id="version" class="contact_input" required="required">-->
										<div class="details_image_thumbnail active" style="display: inline-block;" th:each="i:${item.images}" th:data-image="@{${i.path}}"><img style="max-width: 100px;max-height: 100px;" th:src="@{${i.path}}" alt="" >
                                            <button class="button contact_button" style="width: 50px;height: 50px;" type="submit" value="Submit">
<!--                                                <form th:method="delete" action="#" id="image_form"  th:action="@{/item/{id}/{id_image}(id=${item.id},id_image=${i.id})}">-->
<!--                                                    <input type="submit" value="Usuń" style="background-color: white;border: transparent;width: 100%;height: 100%;">-->
<!--                                                </form>-->
                                                <a th:href="@{/item/{id}/{id_image}(id=${item.id},id_image=${i.id})}" th:method="post">Usun</a>
                                            </button>
                                        </div>
									</div>

<!--									<div class="col-xl-6">-->
<!--										&lt;!&ndash; Name &ndash;&gt;-->
<!--										<label for="category">Kategoria</label>-->
<!--&lt;!&ndash;										<input th:field="*{product.category.type}" style="background-color: #9f9f9f" th:text="*{product.category.type}" type="text" id="category" class="contact_input" required="required">&ndash;&gt;-->
<!--										<select th:field="*{}"   style="background-color: #9f9f9f;height: 52px;width: 100%;" name="checkout_city" id="category" class="dropdown_item_select checkout_input" require="required">-->
<!--											<option th:each="product: ${products}" th:selected="${item.product}" th:value="${product.id}" th:text="${product.name}"></option>-->
<!--										</select>-->
<!--									</div>-->
								</div>
								<!--								<input  class="button contact_button" type="submit" value="Sdss">-->

							</form>
							<div class="contact_form_container">
								<form action="#" th:action="@{/item/image/{id}(id=${item.id})}" enctype="multipart/form-data" method="post" id="add_image_form" class="contact_form">
							<div class="row" style="display: inline-grid;">
							<label class="custom-file-label" for="file">Wybierz zdjecie</label>
							<input style="background-color: #9f9f9f;color: #bd4147;" type="file" class="" id="file"  name="file">
								<label class="custom-file-label" for="file1">Wybierz zdjecie</label>
								<input style="background-color: #9f9f9f;color: #bd4147;" type="file" class="" id="file1"  name="file">
								<label class="custom-file-label" for="file2">Wybierz zdjecie</label>
								<input style="background-color: #9f9f9f;color: #bd4147;" type="file" class="" id="file2"  name="file">
								<button class="button contact_button" type="submit" form="add_image_form" style="height: 30px;width: 100px" value="Submit"><span>Dodaj</span></button>
							</div>
								</form>

							</div>
							<button class="button contact_button" type="submit" form="item_form" value="Submit"><span>Edytuj przedmiot</span></button>
						</div>

						<div class="contact_form_container" th:if="${userEdit!=null}">
							<form action="#" th:action="@{/admin/edit/{id}(id=${userEdit.id})}" method="post" th:object="${userEdit}" id="userEdit_form" class="contact_form">
								<div class="row">
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{login}"></p>
										<label for="edit_login">Login</label>
										<input th:field="*{login}" style="background-color: #9f9f9f" th:text="*{login}" type="text" id="edit_login" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{password}"></p>
										<label for="old_password">Stare haslo</label>
										<input style="background-color: #9f9f9f"  type="password" name="old_password" id="old_password" class="contact_input">
										<label for="new_password">Nowe haslo</label>
										<input style="background-color: #9f9f9f"  type="password" name="new_password" id="new_password" class="contact_input">
									</div>

									<div class="col-xl-6">
										<!-- Name -->
										<p th:errors="*{firstName}"></p>
										<label for="edit_firstName">Imie</label>
										<input th:field="*{firstName}" style="background-color: #9f9f9f" th:text="*{firstName}" type="text" id="edit_firstName" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="edit_lastName">Nazwisko</label>
										<input th:field="*{lastName}" style="background-color:#9f9f9f" th:text="*{lastName}" type="text" id="edit_lastName" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="edit_email">Email</label>
										<input th:field="*{email}" style="background-color: #9f9f9f" th:text="*{email}" type="text" id="edit_email" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="edit_country">Kraj</label>
										<input th:field="*{adress.country}" style="background-color: #9f9f9f" th:text="*{adress.country}" type="text" id="edit_country" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="edit_city">Miasto</label>
										<input th:field="*{adress.city}" style="background-color: #9f9f9f" th:text="*{adress.city}" type="text" id="edit_city" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="edit_street">Ulica</label>
										<input th:field="*{adress.street}" style="background-color: #9f9f9f" th:text="*{adress.street}" type="text" id="edit_street" class="contact_input" required="required">
									</div>
									<div class="col-xl-6">
										<!-- Name -->
										<label for="edit_postCode">Kod Pocztowy</label>
										<input th:field="*{adress.postCode}" style="background-color: #9f9f9f" th:text="*{adress.postCode}" type="text" id="edit_postCode" class="contact_input" required="required">
									</div>
								</div>
								<!--								<input  class="button contact_button" type="submit" value="Sdss">-->

							</form>
							<button class="button contact_button" type="submit" form="userEdit_form" value="Submit"><span>Edytuj dane</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_background" th:style="'background:url('+ @{/images/footer.jpg} +');'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="footer_logo"><a href="#">Otosklep.</a></div>
						<div class="copyright ml-auto mr-auto">&copy; Marcin Ruszkiewicz</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/popper.js}"></script>
<script th:src="@{/css/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/js/contact.js}"></script>
</body>
</html>